<h2>ADD NEW CELEBRITY</h2>

<form method="post" action="/celebrities/create" class="row g-3">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="name">
  </div>
   <div class="col-md-6">
    <label for="occupation" class="form-label">occupation</label>
    <input name="occupation" type="text" class="form-control" id="occupation">
  </div>
     <div class="col-md-6">
    <label for="catchPhrase" class="form-label">Catch Phrase</label>
    <input name="catchPhrase" type="text" class="form-control" id="maxSpeed">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>