<h1>Are you sure you want to delete?</h1>

<a href="/"><button>No take me Home</button></a>

<h1>name : {{celeb.name}}</h1>
<h1>occupation: {{celeb.occupation}}</h1>
<h1>catch phrase: {{celeb.catchPhrase}}</h1>


<form method="post" action="/celebrities/{{celeb._id}}/delete">
    <button type="submit" class="btn btn-primary">Yes Delete</button>
</form>