<h2>New Celeb</h2>

<form action="/celebrities/create" method="post">
  <div class="mb-3">

    <input placeholder="Name" id="name" name="name" />
  </div>
  <div class="mb-3">
    <input placeholder="occupation" id="occupation" name="occupation" />
  </div>
  <div class="mb-3">
    <input placeholder="CatchPhrase" id="catchPhrase" name="catchPhrase" />
  </div>
  <button type="submit">Add</button>
</form>