body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.space {
  margin: 40px 0;
}

.red {
  background-color: red;
  color: white;
  border-radius: 30px;
  
}