<h2>Movies</h2>
<div class="container">

  {{#each movies}}
    <div class="center">
      <p>{{title}}</p>

      <a href="movie/{{_id}}">More Info</a>
    </div>
  {{/each}}
</div>

<a href="/movies/new">Add New Movie</a>